* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            color: white;
            background-color: #1a1a1a;
        }

        .interface-img {
            position: fixed;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            z-index: -1;
        }

        header {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 15px 30px;
            background: rgba(0, 0, 0, 0.7);
        }
        .logo-img{
            width: 50px;
            height: 50px;
        }
        .navbar{
            margin-left: 80px;
        }
        nav ul {
            list-style-type: none;
            display: flex;
            gap: 20px;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            padding: 8px 12px;
        }

        nav ul li a:hover {
            color: #00aaff;
        }

        .login-button {
            background-color: #00aaff;
            color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-weight: bold;
            padding: 12px 30px;
        }

        .login-button:hover {
            background-color: #0088cc;
        }
        
        .middle-content {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            min-height: 80vh;
            text-align: center;
            padding: 20px;
        }

        .content-box {
            background: rgba(255, 255, 255, 0);
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
            max-width: 650px;
        }

        .content-box h1 {
            font-size: 46px;
            margin-bottom: 20px;
        }

        .content-box p {
            font-size: 16px;
            margin-bottom: 30px;
            line-height: 26px;
        }

        .discover-button {
            padding: 12px 28px;
            font-size: 16px;
            border: none;
            background-color: #00aaff;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }
        .redirect{
            text-decoration: none;
            color: white;
        }