body{
  background-color:rgb(12, 12, 12);     
  margin: 0;
  padding: 0;
}
.header{
  margin: 0;
  padding: 0;
  width: 100%; 
  height: 100px;
  display: block;
  background-color: rgba(137, 43, 226, 0.084);
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.logo{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar{
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation{
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list {
  list-style: none;
  display: flex;
  gap: 40px;
  color: rgb(250, 202, 139);
}
.list :hover{
  transform: scale(1.1);
  text-decoration: none;
  cursor:pointer;
  color: white;
}
input{
  background-color: rgb(101, 89, 89);
  width: 300px;
  height: 30px;
  border-radius: 30px;
  outline: none;
  border-color: white;
}
input[type=text]:focus{
  background-color: white;
}
input::placeholder{
  color: white;
  padding-left: 10px;
  letter-spacing: 4px;
  font-size: 16px;
}
.logo img{
  border-radius: 100px;
  height: 46px;
  width: 46px;
}
.baner{
  background-color: rgba(137, 43, 226, 0.158);
  text-align: center;
  height: 20px;
  align-items: center;
  color: rgb(251, 1, 239);
  text-align: center;
}
.song-container{
  padding: 20px;  
}
.maindiv{ 
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap; 
  position: relative;
}
.sub{
  height:350px;
  width: 200px;
  background-color: #1e1e1e;
  border-radius:20px;
  margin: 20px;
  cursor: pointer;
  position: relative;
}

.sub img{

  height:200px ;
  width: 150px;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 10px;   
}
.info{
  color: white; 
}
.info img{
  height:50px ;
  width: 190px;
  margin-left: 5px;
  margin-top:1px;
}
.art{
  margin-top: 30px;
  text-align: center;
}
.art img{
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.art:active{
  transform: scale(1.08);
}
.sub:hover{
  transform: scale(1.08);
  box-shadow: 0 0 10px #ff69b4;
}
h2{
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}